@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #000;
  --swiper-navigation-color: #000;
  --swiper-navigation-size: 30px;
}

h1 {
  @apply text-3xl font-semibold;
}

h2 {
  @apply text-xl mb-4 font-medium;
}

.circle {
  @apply w-10 h-10 border border-black flex items-center justify-center rounded-full;
}

th,
td {
  @apply border-b border-gray-200 px-10 py-4;
}
